<div class="row">
  <div class="col-md-12">
    <h3>The choosen specification for the question paper are </h3>
    <section class="paper_body">
      <p>
        <p>Course Name: <%= @question_paper.name %></p>
        <p>Course Code: <%= @question_paper.code %></p>
        <p>Full Marks:  <%= @question_paper.fullmark %></p>
        <p>Paper difficulty: <%= @question_paper.paper_difficulty %></p>
        <p>Modules: <%= @question_paper.module %></p>
      </p>
    </section>
    <div class="confirmation">
      <%= link_to "Confirm", question_paper_path(@question_paper, format: "pdf"), target: "_blank", class: "btn btn-lg btn-success" %>
      <%= link_to "Back to Create Question", paper_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
